.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
    max-height: -webkit-fill-available;
    overflow: hidden;
    position: relative;
}

.mapContainer {
    width: 100%;
    height: 100vh;
}
